:root {
  --color-main: #14213D;
  --color-primary: #FCA311;
  --color-secondary: #000000;
  --color-bg: var(--color-main);
  --color-success: #3A5A40;
  --color-danger: #FF3847;
  --color-line: #A3B18A;
  --color-shadow-active: white;
  --color-active: #F3AB36;
  --color-active-low: #F9C26A;
  --color-light: #FBFBFD;
  --color-gray: #d3cbcb;
  --color-font: #24231E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
